<mat-card>
  <mat-card-title>#{{issue?.id}} - {{issue?.subject}}</mat-card-title>
  <mat-card-content>
      <mat-table #table [dataSource]="dataSource">

          <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
              <mat-cell *matCellDef="let estimate">{{estimate.name}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="low">
              <mat-header-cell *matHeaderCellDef>Low</mat-header-cell>
              <mat-cell *matCellDef="let estimateLow">
                  <mat-form-field>
                      <input matInput maxLength="2"
                          onClick="this.select();"
                          [name]="'low-' + estimateLow.name"
                          [(ngModel)]="estimateLow.low"
                          (ngModelChange)="updateProp('low', estimateLow, $event)">
                  </mat-form-field>
              </mat-cell>
          </ng-container>

          <ng-container matColumnDef="medium">
              <mat-header-cell *matHeaderCellDef>Medium</mat-header-cell>
              <mat-cell *matCellDef="let estimateMedium">
                  <mat-form-field>
                      <input matInput maxLength="2"
                              onClick="this.select();"
                              [name]="'medium-' + estimateMedium.name"
                              [(ngModel)]="estimateMedium.medium"
                              (ngModelChange)="updateProp('medium', estimateMedium, $event)">
                  </mat-form-field>
              </mat-cell>
          </ng-container>

          <ng-container matColumnDef="high">
              <mat-header-cell *matHeaderCellDef>High</mat-header-cell>
              <mat-cell *matCellDef="let estimateHigh">
                  <mat-form-field>
                      <input matInput maxLength="2"
                          onClick="this.select();"
                          [name]="'high-' + estimateHigh.name"
                          [(ngModel)]="estimateHigh.high"
                          (ngModelChange)="updateProp('high', estimateHigh, $event)">
                  </mat-form-field>
              </mat-cell>
          </ng-container>

          <ng-container matColumnDef="sum">
              <mat-header-cell *matHeaderCellDef>Sum</mat-header-cell>
              <mat-cell *matCellDef="let estimate" [style.color]="'blue'">{{estimate.sum}}</mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
  </mat-card-content>

  <h2 class="result-text">
      Estimated time: {{this.sumAll()}}
  </h2>

  <mat-card-actions>
      <div class="action-buttons">
          <button mat-raised-button color="warn" (click)="reset()">Reset</button>
          <button mat-raised-button color="primary" (click)="estimate()">Estimate</button>
      </div>
  </mat-card-actions>
</mat-card>
