<mat-toolbar color="primary">
    ng-cocomo
</mat-toolbar>

<mat-card>
    <mat-card-title>{{issue.subject}}</mat-card-title>
    <mat-card-content>
        <mat-table #table [dataSource]="dataSource">

            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
                <mat-cell *matCellDef="let estimate">{{estimate.name}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="low">
                <mat-header-cell *matHeaderCellDef>Low</mat-header-cell>
                <mat-cell *matCellDef="let estimate">{{estimate.low}}</mat-cell>                
            </ng-container>

            <ng-container matColumnDef="medium">
                <mat-header-cell *matHeaderCellDef>Medium</mat-header-cell>
                <mat-cell *matCellDef="let estimate">{{estimate.medium}}</mat-cell>                
            </ng-container>

            <ng-container matColumnDef="high">
                <mat-header-cell *matHeaderCellDef>High</mat-header-cell>
                <mat-cell *matCellDef="let estimate" [satPopoverAnchorFor]="p" (click)="p.open()">
                    <ng-container *ngIf="estimate.high">
                        {{estimate.high}}
                    </ng-container>

                    <span *ngIf="!estimate.high">
                        Add value
                    </span>
        
                    <sat-popover #p
                        hasBackdrop
                        xPosition="after"
                        yPosition="below"
                        (closed)="update(estimate, $event)">
                        <inline-edit [value]="estimate.comment"></inline-edit>
                    </sat-popover>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="sum">
                <mat-header-cell *matHeaderCellDef>Sum</mat-header-cell>
                <mat-cell *matCellDef="let estimate">                    
                    <ng-container *ngIf="estimate.sum > 0">
                        {{estimate.sum}}
                    </ng-container>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        </mat-table>

        <mat-card-actions>

        </mat-card-actions>
    </mat-card-content>
</mat-card>
